USE [Shop]
GO
/****** Object:  StoredProcedure [dbo].[CategoryInsert]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CategoryInsert]  
	-- Add the parameters for the stored procedure here
	@Category_Name varchar(150),
	@Menu_ID int,
	@IsDeleted bit
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
		insert into [dbo].[Category_Master] (Category_Name, Menu_ID, IsDeleted)
		values(@Category_Name,@Menu_ID,@IsDeleted)
		select 'success' as result	
	END TRY
	BEGIN CATCH
		select 'fail' as result
	END CATCH
END









GO
/****** Object:  StoredProcedure [dbo].[GetAllProducts]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllProducts]
	
AS
BEGIN
	SET NOCOUNT ON;     
      select P.*,C.Category_Name,S.SubCategory_Name,T.ThirdCategory_Name
      from Product_Master as P
      left join Category_Master as C on P.Category_ID = C.Category_ID
      left join SubCategory_Master as S on P.SubCategory_ID = S.SubCategory_ID
      left join ThirdCategory_Master as T on P.ThirdCategory_ID = T.ThirdCategory_ID
      order by P.Product_ID desc
	END











GO
/****** Object:  StoredProcedure [dbo].[GetAllProductSubCategoryWise]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllProductSubCategoryWise]
	@SubCategoryID int
AS
BEGIN
	SET NOCOUNT ON;
          select P.*,
         C.Category_Name, 
		 S.SubCategory_Name,
		 T.ThirdCategory_Name,
		 --img.Procut_image_ID,
		 img.Product_image,
		 img.Image_name,
		 img.AlterText
   from Product_Master as P
   inner join Category_Master as C on P.Category_ID = C.Category_ID
   inner join SubCategory_Master as S on P.SubCategory_ID = S.SubCategory_ID
   left join ThirdCategory_Master as T on P.ThirdCategory_ID = T.ThirdCategory_ID          
   OUTER APPLY (select top 1 Product_image,Image_name,AlterText
          		from Product_Image_Master
				where P.Product_ID = Product_Image_Master.Product_ID
          )img 
          where S.SubCategory_ID = @SubCategoryID
          order by P.Product_ID desc
	END











GO
/****** Object:  StoredProcedure [dbo].[GetAllProductThirdCategoryWise]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllProductThirdCategoryWise]
	@ThirdCategory_ID varchar(100)
AS
BEGIN
	SET NOCOUNT ON;
          select P.*,
         C.Category_Name, 
		 S.SubCategory_Name,
		 T.ThirdCategory_Name,
		 --img.Procut_image_ID,
		 img.Product_image,
		 img.Image_name,
		 img.AlterText
   from Product_Master as P
   inner join Category_Master as C on P.Category_ID = C.Category_ID
   inner join SubCategory_Master as S on P.SubCategory_ID = S.SubCategory_ID
   left join ThirdCategory_Master as T on P.ThirdCategory_ID = T.ThirdCategory_ID          
   OUTER APPLY (select top 1 Product_image,Image_name,AlterText
          		from Product_Image_Master
				where P.Product_ID = Product_Image_Master.Product_ID
          )img 
          where T.ThirdCategory_ID IN (select cast(Item as int) as id from [dbo].[SplitString](@ThirdCategory_ID,','))
          order by P.Product_ID desc
	END











GO
/****** Object:  StoredProcedure [dbo].[GetHomePageProduct]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetHomePageProduct] 
	
AS
BEGIN
	SET NOCOUNT ON;
       select Top 12 * from SubCategory_Master
       where IsHomePage = 1
       order by Sortable 

	END









GO
/****** Object:  StoredProcedure [dbo].[GetHotProduct]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetHotProduct] 
AS
BEGIN
	SET NOCOUNT ON;
 select P.*,
         C.Category_Name, 
		 S.SubCategory_Name,
		 T.ThirdCategory_Name,
		 --img.Procut_image_ID,
		 img.Product_image,
		 img.Image_name,
		 img.AlterText
   from Product_Master as P
   inner join Category_Master as C on P.Category_ID = C.Category_ID
   inner join SubCategory_Master as S on P.SubCategory_ID = S.SubCategory_ID
   left join ThirdCategory_Master as T on P.ThirdCategory_ID = T.ThirdCategory_ID          
   OUTER APPLY (select top 1 Product_image,Image_name,AlterText
          		from Product_Image_Master
				where P.Product_ID = Product_Image_Master.Product_ID
          )img 
          where P.IsHotProduct = 1
          order by P.Product_ID desc
	END











GO
/****** Object:  StoredProcedure [dbo].[GetLastProduct]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetLastProduct] 
AS
BEGIN
	SET NOCOUNT ON;       
        select top 3 P.*,
                 C.Category_Name, 
        		 S.SubCategory_Name,
        		 T.ThirdCategory_Name,
        		 img.Procut_image_ID,
        		 img.Product_image,
        		 img.Image_name
        from Product_Master as P
        inner join Category_Master as C on P.Category_ID = C.Category_ID
        inner join SubCategory_Master as S on P.SubCategory_ID = S.SubCategory_ID
        left join ThirdCategory_Master as T on P.ThirdCategory_ID = T.ThirdCategory_ID          
        CROSS APPLY (select top 1  Procut_image_ID,Product_image,Image_name
                  		from Product_Image_Master
        				where P.Product_ID = Product_Image_Master.Product_ID 
                  )img 
        where P.Created_date between DATEADD(MONTH,-1,GETDATE()) and GETDATE()
        order by P.Product_ID desc
	END










GO
/****** Object:  StoredProcedure [dbo].[GetProductImage]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetProductImage] 
	@Product_ID int
AS
BEGIN
	SET NOCOUNT ON;
          select I.*, 
                 P.Product_Title,
          	   P.Product_short_description,
          	   P.Product_long_description,
          	   P.Created_date,
          	   P.Updated_date,
          	   P.Category_ID,
          	   P.SubCategory_ID,
          	   P.ThirdCategory_ID,
          	   P.Product_Price
          from Product_Image_Master as I
          inner join Product_Master as P on I.Product_ID = P.Product_ID
          where P.Product_ID = @Product_ID
          order by I.Procut_image_ID
	END










GO
/****** Object:  StoredProcedure [dbo].[GetProductMenu]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetProductMenu]  
	
AS
BEGIN
	SET NOCOUNT ON;
       select * 
      from MainMenu_Master
      where Menu_Name like '%shop%'
	END











GO
/****** Object:  StoredProcedure [dbo].[GetProductSubCategory]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetProductSubCategory]
	@Menu_ID int
AS
BEGIN
	SET NOCOUNT ON;
      
     select M.*,C.Category_Name,C.Category_ID,S.SubCategory_ID,S.SubCategory_Name
     from MainMenu_Master as M
     inner join Category_Master as C on M.Menu_ID = C.Menu_ID
     inner join SubCategory_Master as S on C.Category_ID = S.Category_ID
     where M.Menu_ID = @Menu_ID
	 order by S.Sortable

	END











GO
/****** Object:  StoredProcedure [dbo].[GetSideBarProductList]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetSideBarProductList] 
	@SubCategory_ID int
AS
BEGIN
	SET NOCOUNT ON;
     select T.ThirdCategory_ID, 
       T.ThirdCategory_Name,
	   S.SubCategory_ID,
	   S.SubCategory_Name,
	   C.Category_ID,
	   C.Category_Name,
	   C.Menu_ID
     from ThirdCategory_Master as T
     inner join SubCategory_Master as S on T.SubCategory_ID = S.SubCategory_ID
     inner join Category_Master as C on S.Category_ID = C.Category_ID
     Where S.SubCategory_ID = @SubCategory_ID
	END











GO
/****** Object:  StoredProcedure [dbo].[MainMenuInsert]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MainMenuInsert] 
	-- Add the parameters for the stored procedure here
	@Menu_Name varchar(150),
	@IsDeleted bit
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
		insert into [dbo].[MainMenu_Master] (Menu_Name, IsDeleted)
		values(@Menu_Name,@IsDeleted)
		select 'success' as result	
	END TRY
	BEGIN CATCH
		select 'fail' as result
	END CATCH
END














GO
/****** Object:  StoredProcedure [dbo].[Product_specification_group_insert]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Product_specification_group_insert]
	-- Add the parameters for the stored procedure here
	@Product_ID int,
	@Specification_Group varchar(250)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
		insert into [dbo].[Specification_Group_Master] (Product_ID,Specification_Group_Name)
		values(@Product_ID,@Specification_Group)
		select 'success' as result	
	END TRY
	BEGIN CATCH
		select 'fail' as result
	END CATCH
END










GO
/****** Object:  StoredProcedure [dbo].[Product_specification_insert]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Product_specification_insert]
	-- Add the parameters for the stored procedure here
	@SpecGrpID int,
	@Product_ID int,
	@Specification_Title varchar(250),
	@Specification_Value varchar(250),
	@CreatedDate datetime,
	@UpdatedDate datetime
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
		insert into [dbo].[Product_Specification_Master] (Product_ID,Specification_Title,Specification_Value,CreatedDate,UpdatedDate,Specification_GroupID)
		values(@Product_ID,@Specification_Title,@Specification_Value,@CreatedDate,@UpdatedDate,@SpecGrpID)
		select 'success' as result	
	END TRY
	BEGIN CATCH
		select 'fail' as result
	END CATCH
END










GO
/****** Object:  StoredProcedure [dbo].[ProductCKInsert]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductCKInsert] 
	-- Add the parameters for the stored procedure here
	@Product_ID int,
	@CK_Title varchar(250),
	@Description text,
	@Created_date datetime,
	@Updated_date datetime
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
		insert into [dbo].[Product_CK_Master] (Product_ID, CK_Title, Description, Created_date,Updated_date)
		values(@Product_ID,@CK_Title,@Description,@Created_date,@Updated_date)
		select 'success' as result	
	END TRY
	BEGIN CATCH
		select 'fail' as result
	END CATCH
END











GO
/****** Object:  StoredProcedure [dbo].[ProductImageInsert]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductImageInsert]
	-- Add the parameters for the stored procedure here
	@Product_ID int,
	@Product_image varbinary(MAX),
	@Image_name varchar(250),
	@Created_date datetime,
	@Updated_date datetime,
	@AlterText varchar(350)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
		insert into [dbo].[Product_Image_Master] (Product_ID, Product_image, Image_name, Created_date,Updated_date, AlterText)
		values(@Product_ID,@Product_image,@Image_name,@Created_date,@Updated_date,@AlterText)
		select 'success' as result	
	END TRY
	BEGIN CATCH
		select 'fail' as result
	END CATCH
END









GO
/****** Object:  StoredProcedure [dbo].[ProductInsert]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductInsert]  
	-- Add the parameters for the stored procedure here
	@Product_Title varchar(200),
	@Product_short_description text,
	@Product_long_description text,
	@Created_date datetime,
	@Updated_date datetime,
	@Category_ID int = null,
	@SubCategory_ID int = null,
	@ThirdCategory_ID int = null,
	@Product_Price decimal = null
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
		insert into [dbo].[Product_Master] (Product_Title, Product_short_description, Product_long_description,Created_date,Updated_date,Category_ID,SubCategory_ID,ThirdCategory_ID,Product_Price)
		values(@Product_Title,@Product_short_description,@Product_long_description,@Created_date,@Updated_date,@Category_ID,@SubCategory_ID,@ThirdCategory_ID,@Product_Price)
		select 'success' as result	
	END TRY
	BEGIN CATCH
		select 'fail' as result
	END CATCH
END










GO
/****** Object:  StoredProcedure [dbo].[RGetCategory]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RGetCategory]
	
AS
BEGIN
	SET NOCOUNT ON;
	 select C.*, M.Menu_Name 
	 from Category_Master as C
	 inner join MainMenu_Master as M on C.Menu_ID = M.Menu_ID
	 where C.IsDeleted = 0
	 order by C.Category_ID desc
	END









GO
/****** Object:  StoredProcedure [dbo].[RGetSubCategory]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RGetSubCategory]
AS
BEGIN
	SET NOCOUNT ON;
	 select S.*, C.Category_Name,C.Menu_ID,M.Menu_Name
	 from SubCategory_Master as S
	 inner join Category_Master as C on S.Category_ID = C.Category_ID
	 inner join MainMenu_Master as M on C.Menu_ID = M.Menu_ID
	 where S.IsDeleted = 0
	 order by S.Sortable
END









GO
/****** Object:  StoredProcedure [dbo].[SubCategoryInsert]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SubCategoryInsert]  
	-- Add the parameters for the stored procedure here
	@SubCategory_Name varchar(150),
	@Category_ID int,
	@IsDeleted bit,
	@Image varbinary(MAX),
	@IsHomePage bit,
	@ImageName varchar(250),
	@Sortable numeric,
	@Heading varchar(550),
	@Description varchar(max),
	@Page_Image varbinary(max),
	@Page_Image_Name varchar(250),
	@AlterText varchar(350)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
		insert into [dbo].[SubCategory_Master] (SubCategory_Name, Category_ID, IsDeleted,Image,IsHomePage,ImageName,Sortable,Heading,Description,Page_Image,Page_Image_Name,AlterText)
		values(@SubCategory_Name,@Category_ID,@IsDeleted,@Image,@IsHomePage,@ImageName,@Sortable,@Heading,@Description,@Page_Image,@Page_Image_Name,@AlterText)
		select 'success' as result	
	END TRY
	BEGIN CATCH
		select 'fail' as result
	END CATCH
END










GO
/****** Object:  StoredProcedure [dbo].[ThirdCategoryInsert]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThirdCategoryInsert]  
	-- Add the parameters for the stored procedure here
	@SubCategory_ID int,
	@ThirdCategoryName varchar(250)
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
		insert into [dbo].[ThirdCategory_Master] (SubCategory_ID, ThirdCategory_Name)
		values(@SubCategory_ID,@ThirdCategoryName)
		select 'success' as result	
	END TRY
	BEGIN CATCH
		select 'fail' as result
	END CATCH
END









GO
/****** Object:  StoredProcedure [dbo].[ThirdCategoryUpdate]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThirdCategoryUpdate]  
	-- Add the parameters for the stored procedure here
	@ThirdCategory_ID int,
	@SubCategory_ID int,
	@ThirdCategoryName varchar(250)
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    BEGIN TRY
		update [dbo].[ThirdCategory_Master] 
		set SubCategory_ID = @SubCategory_ID,
		    ThirdCategory_Name = @ThirdCategoryName
		where ThirdCategory_ID = @ThirdCategory_ID
		select 'success' as result	
	END TRY
	BEGIN CATCH
		select 'fail' as result
	END CATCH
END









GO
/****** Object:  UserDefinedFunction [dbo].[SplitString]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[SplitString]
(    
      @Input NVARCHAR(MAX),
      @Character CHAR(1)
)
RETURNS @Output TABLE (
      Item NVARCHAR(1000)
)
AS
BEGIN
      DECLARE @StartIndex INT, @EndIndex INT
 
      SET @StartIndex = 1
      IF SUBSTRING(@Input, LEN(@Input) - 1, LEN(@Input)) <> @Character
      BEGIN
            SET @Input = @Input + @Character
      END
 
      WHILE CHARINDEX(@Character, @Input) > 0
      BEGIN
            SET @EndIndex = CHARINDEX(@Character, @Input)
           
            INSERT INTO @Output(Item)
            SELECT SUBSTRING(@Input, @StartIndex, @EndIndex - 1)
           
            SET @Input = SUBSTRING(@Input, @EndIndex + 1, LEN(@Input))
      END
 
      RETURN
END








GO
/****** Object:  Table [dbo].[AdminLoginMaster]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AdminLoginMaster](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[EmailID] [varchar](250) NULL,
	[Password] [varchar](150) NULL,
	[UserName] [varchar](50) NULL,
	[IsAdmin] [bit] NOT NULL,
	[JoinDate] [datetime] NULL,
 CONSTRAINT [PK_AdminLoginMaster] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cart_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cart_Master](
	[Cart_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NULL,
	[Product_ID] [int] NULL,
	[Size] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Cart_Master] PRIMARY KEY CLUSTERED 
(
	[Cart_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category_Master](
	[Category_ID] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [varchar](150) NULL,
	[Menu_ID] [int] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Category_Master] PRIMARY KEY CLUSTERED 
(
	[Category_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ContactUS_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ContactUS_Master](
	[Contact_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NULL,
	[Mobile] [varchar](50) NULL,
	[Address] [varchar](max) NULL,
	[Email] [varchar](150) NULL,
	[Subject] [varchar](550) NULL,
	[Message] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_ContactUS_Master] PRIMARY KEY CLUSTERED 
(
	[Contact_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Email_Group_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Email_Group_Master](
	[Email_Group_ID] [int] IDENTITY(1,1) NOT NULL,
	[Email_Group_Name] [varchar](50) NULL,
 CONSTRAINT [PK_Email_Group_Master] PRIMARY KEY CLUSTERED 
(
	[Email_Group_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Information_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Information_Master](
	[Information_ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NULL,
	[Description] [varchar](max) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Information_Master] PRIMARY KEY CLUSTERED 
(
	[Information_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MainMenu_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MainMenu_Master](
	[Menu_ID] [int] IDENTITY(1,1) NOT NULL,
	[Menu_Name] [varchar](150) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_MainMenu_Master] PRIMARY KEY CLUSTERED 
(
	[Menu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order_Item_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order_Item_Master](
	[Order_Item_ID] [int] IDENTITY(1,1) NOT NULL,
	[Order_ID] [int] NULL,
	[Product_ID] [int] NULL,
	[Size] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Order_Item_Master] PRIMARY KEY CLUSTERED 
(
	[Order_Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order_Master](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Order_No] [varchar](50) NULL,
	[Order_Type] [varchar](20) NULL,
	[User_ID] [int] NULL,
	[User_Address_ID] [int] NULL,
	[Order_Status] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Order_Master] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product_CK_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product_CK_Master](
	[Product_CK_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_ID] [int] NULL,
	[CK_Title] [varchar](250) NULL,
	[Description] [text] NULL,
	[Created_date] [datetime] NULL,
	[Updated_date] [datetime] NULL,
 CONSTRAINT [PK_Product_CK_Master] PRIMARY KEY CLUSTERED 
(
	[Product_CK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product_Image_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product_Image_Master](
	[Procut_image_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_ID] [int] NULL,
	[Product_image] [varbinary](max) NULL,
	[Image_name] [varchar](250) NULL,
	[Created_date] [datetime] NULL,
	[Updated_date] [datetime] NULL,
	[AlterText] [varchar](350) NULL,
 CONSTRAINT [PK_Product_Image_Master] PRIMARY KEY CLUSTERED 
(
	[Procut_image_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product_Master](
	[Product_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_Title] [varchar](200) NULL,
	[Product_short_description] [text] NULL,
	[Product_long_description] [text] NULL,
	[Created_date] [datetime] NULL,
	[Updated_date] [datetime] NULL,
	[Category_ID] [int] NULL,
	[SubCategory_ID] [int] NULL,
	[ThirdCategory_ID] [int] NULL,
	[Product_Price] [decimal](18, 2) NULL,
	[IsHotProduct] [bit] NULL,
 CONSTRAINT [PK_Product_Master] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product_Specification_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product_Specification_Master](
	[Product_Specification_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_ID] [int] NULL,
	[Specification_Title] [varchar](250) NULL,
	[Specification_Value] [varchar](250) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Specification_GroupID] [int] NULL,
 CONSTRAINT [PK_Product_Specification_Master] PRIMARY KEY CLUSTERED 
(
	[Product_Specification_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Specification_Group_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Specification_Group_Master](
	[Specification_GroupID] [int] IDENTITY(1,1) NOT NULL,
	[Product_ID] [int] NULL,
	[Specification_Group_Name] [varchar](250) NULL,
 CONSTRAINT [PK_Specification_Group_Master] PRIMARY KEY CLUSTERED 
(
	[Specification_GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SubCategory_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SubCategory_Master](
	[SubCategory_ID] [int] IDENTITY(1,1) NOT NULL,
	[SubCategory_Name] [varchar](150) NULL,
	[Category_ID] [int] NULL,
	[IsDeleted] [bit] NULL,
	[Image] [varbinary](max) NULL,
	[IsHomePage] [bit] NULL,
	[ImageName] [varchar](250) NULL,
	[Sortable] [numeric](18, 0) NULL,
	[Heading] [varchar](550) NULL,
	[Description] [varchar](max) NULL,
	[Page_Image] [varbinary](max) NULL,
	[Page_Image_Name] [varchar](250) NULL,
	[AlterText] [varchar](350) NULL,
 CONSTRAINT [PK_SubCategory_Master] PRIMARY KEY CLUSTERED 
(
	[SubCategory_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subscribe_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subscribe_Master](
	[Subscribe_ID] [int] IDENTITY(1,1) NOT NULL,
	[EmailID] [varchar](250) NULL,
	[Email_Group_ID] [int] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Subscribe_Master] PRIMARY KEY CLUSTERED 
(
	[Subscribe_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThirdCategory_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ThirdCategory_Master](
	[ThirdCategory_ID] [int] IDENTITY(1,1) NOT NULL,
	[SubCategory_ID] [int] NULL,
	[ThirdCategory_Name] [varchar](250) NULL,
 CONSTRAINT [PK_ThirdCategory_Master] PRIMARY KEY CLUSTERED 
(
	[ThirdCategory_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User_Address_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User_Address_Master](
	[User_Address_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NULL,
	[BName] [varchar](150) NULL,
	[BEmail] [varchar](250) NULL,
	[BMobile] [varchar](50) NULL,
	[BAddress] [varchar](max) NULL,
	[BCity] [varchar](150) NULL,
	[BState] [varchar](150) NULL,
	[BZipcode] [varchar](50) NULL,
	[SName] [varchar](150) NULL,
	[SEmail] [varchar](250) NULL,
	[SMobile] [varchar](50) NULL,
	[SAddress] [varchar](max) NULL,
	[SCity] [varchar](150) NULL,
	[SState] [varchar](150) NULL,
	[SZipcode] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_User_Address_Master] PRIMARY KEY CLUSTERED 
(
	[User_Address_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserDetails_Master]    Script Date: 2/9/2020 2:19:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserDetails_Master](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](150) NULL,
	[LastName] [varchar](150) NULL,
	[User_Id] [int] NULL,
	[WebSite] [varchar](550) NULL,
	[ProfilePhoto] [varchar](150) NULL,
	[Bio] [varchar](max) NULL,
 CONSTRAINT [PK_UserDetails_Master] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AdminLoginMaster] ON 

INSERT [dbo].[AdminLoginMaster] ([User_ID], [EmailID], [Password], [UserName], [IsAdmin], [JoinDate]) VALUES (1, N'rajujikadra@gmail.com', N'password123#', N'Rajesh Jikadra', 1, CAST(0x0000AB5800000000 AS DateTime))
INSERT [dbo].[AdminLoginMaster] ([User_ID], [EmailID], [Password], [UserName], [IsAdmin], [JoinDate]) VALUES (2, N'rbj@gmail.com', N'Password123#', N'Raju', 0, CAST(0x0000AB5900AF2BC2 AS DateTime))
SET IDENTITY_INSERT [dbo].[AdminLoginMaster] OFF
SET IDENTITY_INSERT [dbo].[Category_Master] ON 

INSERT [dbo].[Category_Master] ([Category_ID], [Category_Name], [Menu_ID], [IsDeleted]) VALUES (1, N'DOG', 1, 0)
INSERT [dbo].[Category_Master] ([Category_ID], [Category_Name], [Menu_ID], [IsDeleted]) VALUES (2, N'CAT', 1, 0)
INSERT [dbo].[Category_Master] ([Category_ID], [Category_Name], [Menu_ID], [IsDeleted]) VALUES (3, N'FISHES', 1, 0)
SET IDENTITY_INSERT [dbo].[Category_Master] OFF
SET IDENTITY_INSERT [dbo].[MainMenu_Master] ON 

INSERT [dbo].[MainMenu_Master] ([Menu_ID], [Menu_Name], [IsDeleted]) VALUES (1, N'Shop by pet', 0)
SET IDENTITY_INSERT [dbo].[MainMenu_Master] OFF
SET IDENTITY_INSERT [dbo].[Product_CK_Master] ON 

INSERT [dbo].[Product_CK_Master] ([Product_CK_ID], [Product_ID], [CK_Title], [Description], [Created_date], [Updated_date]) VALUES (1, 15, N'Why We Love It:', N'For those cool weather days when your dog needs a little extra insulation, the Nautical Blue Basic Dog Hoodie is a smart choice! This bright blue hue will have your pup standing out and feeling toasty even on the dreariest of days. 
 
This dog hoodie is great for patriotic events or supporting your favorite blue sports teams!', CAST(0x0000AB5900B30595 AS DateTime), NULL)
INSERT [dbo].[Product_CK_Master] ([Product_CK_ID], [Product_ID], [CK_Title], [Description], [Created_date], [Updated_date]) VALUES (2, 15, N'Why We Love It:', N'This garment won''t impede your pup on their walks thanks to the high-cut tummy designed to prevent soiling. Also handy is the leash hole found under the hood at the base of the neck that can be used with a collar and most harnesses. The handy pocket can hold treats or waste bags.', CAST(0x0000AB5900B3116C AS DateTime), NULL)
INSERT [dbo].[Product_CK_Master] ([Product_CK_ID], [Product_ID], [CK_Title], [Description], [Created_date], [Updated_date]) VALUES (3, 15, N'Why We Love It:', N'The Basic Dog Hoodie is perfect for outings on crisp days but many sensitive pets appreciate wearing them indoors as well. For pets that don''t tolerate air conditioning, our hoodie is the ideal solution.', CAST(0x0000AB5900B31FC8 AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Product_CK_Master] OFF
SET IDENTITY_INSERT [dbo].[Product_Image_Master] ON 

INSERT [dbo].[Product_Image_Master] ([Procut_image_ID], [Product_ID], [Product_image], [Image_name], [Created_date], [Updated_date], [AlterText]) VALUES (1, 1, NULL, N'blejacket1.jpg', CAST(0x0000AB5801739D09 AS DateTime), NULL, N'')
INSERT [dbo].[Product_Image_Master] ([Procut_image_ID], [Product_ID], [Product_image], [Image_name], [Created_date], [Updated_date], [AlterText]) VALUES (2, 1, NULL, N'blue jacket.jpg', CAST(0x0000AB580173A382 AS DateTime), NULL, N'')
INSERT [dbo].[Product_Image_Master] ([Procut_image_ID], [Product_ID], [Product_image], [Image_name], [Created_date], [Updated_date], [AlterText]) VALUES (4, 2, NULL, N'greenjacket.jpg', CAST(0x0000AB580175F39F AS DateTime), NULL, N'')
GO
SET IDENTITY_INSERT [dbo].[Product_Image_Master] OFF
SET IDENTITY_INSERT [dbo].[Product_Master] ON 

GO
SET IDENTITY_INSERT [dbo].[Product_Master] OFF
SET IDENTITY_INSERT [dbo].[Product_Specification_Master] ON 

INSERT [dbo].[Product_Specification_Master] ([Product_Specification_ID], [Product_ID], [Specification_Title], [Specification_Value], [CreatedDate], [UpdatedDate], [Specification_GroupID]) VALUES (1, 28, N'TYPE', N'Adult Food', CAST(0x0000AB5900BF1EE2 AS DateTime), NULL, NULL)
INSERT [dbo].[Product_Specification_Master] ([Product_Specification_ID], [Product_ID], [Specification_Title], [Specification_Value], [CreatedDate], [UpdatedDate], [Specification_GroupID]) VALUES (2, 28, N'QUANTITY', N'1.2 Kg', CAST(0x0000AB5900BF28D1 AS DateTime), NULL, NULL)
INSERT [dbo].[Product_Specification_Master] ([Product_Specification_ID], [Product_ID], [Specification_Title], [Specification_Value], [CreatedDate], [UpdatedDate], [Specification_GroupID]) VALUES (3, 28, N'BREED', N'Large Breed dogs with high energy requirements, pregnant or lactating bitches of the same breed.', CAST(0x0000AB5900BF336E AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Product_Specification_Master] OFF
SET IDENTITY_INSERT [dbo].[SubCategory_Master] ON 

INSERT [dbo].[SubCategory_Master] ([SubCategory_ID], [SubCategory_Name], [Category_ID], [IsDeleted], [Image], [IsHomePage], [ImageName], [Sortable], [Heading], [Description], [Page_Image], [Page_Image_Name], [AlterText]) VALUES (1, N'Clothes', 1, 0, NULL, 1, N'DogClothes.jpg', CAST(10 AS Numeric(18, 0)), N'Dog clothes', N'Dog clothes are made to be either functional or for show. Functional dog clothes are for protection from the elements and allergens.', NULL, N'HeaderImageDog.jpg', N'')
INSERT [dbo].[SubCategory_Master] ([SubCategory_ID], [SubCategory_Name], [Category_ID], [IsDeleted], [Image], [IsHomePage], [ImageName], [Sortable], [Heading], [Description], [Page_Image], [Page_Image_Name], [AlterText]) VALUES (2, N'Dog Food', 1, 0, NULL, 1, N'DogFoodCategory.jpg', CAST(1 AS Numeric(18, 0)), N'Dog Food', N'While the exact composition of dog food varies widely from one manufacturer to another, dog food generally is made up of meats, meat byproducts, cereals, grains, vitamins, and minerals.', NULL, N'DogFoodHeader.png', N'')
INSERT [dbo].[SubCategory_Master] ([SubCategory_ID], [SubCategory_Name], [Category_ID], [IsDeleted], [Image], [IsHomePage], [ImageName], [Sortable], [Heading], [Description], [Page_Image], [Page_Image_Name], [AlterText]) VALUES (3, N'Dog Health Care', 1, 0, NULL, 1, N'DogHealthCare.jpg', CAST(9 AS Numeric(18, 0)), N'Health Care of Dogs', N'Routine Health Care of Dogs. In addition to feeding and exercising your dog, other aspects of general care are needed to keep your dog healthy throughout its life.', NULL, N'DogHealthCareHeader.jpg', N'')
SET IDENTITY_INSERT [dbo].[SubCategory_Master] OFF
SET IDENTITY_INSERT [dbo].[ThirdCategory_Master] ON 

INSERT [dbo].[ThirdCategory_Master] ([ThirdCategory_ID], [SubCategory_ID], [ThirdCategory_Name]) VALUES (1, 1, N'Jackets')
INSERT [dbo].[ThirdCategory_Master] ([ThirdCategory_ID], [SubCategory_ID], [ThirdCategory_Name]) VALUES (2, 1, N'Shirts')
INSERT [dbo].[ThirdCategory_Master] ([ThirdCategory_ID], [SubCategory_ID], [ThirdCategory_Name]) VALUES (3, 1, N'Sweaters')
SET IDENTITY_INSERT [dbo].[ThirdCategory_Master] OFF
SET IDENTITY_INSERT [dbo].[User_Address_Master] ON 

INSERT [dbo].[User_Address_Master] ([User_Address_ID], [User_ID], [BName], [BEmail], [BMobile], [BAddress], [BCity], [BState], [BZipcode], [SName], [SEmail], [SMobile], [SAddress], [SCity], [SState], [SZipcode], [CreatedDate]) VALUES (1, 1, N'Rajesh Jikadra', N'rajujikadra@gmail.com', N'999590940', N'67, Shyamvilla raw house, Kamrej', N'Surat', N'Gujarat', N'395006', N'Rajesh Jikadra', N'rajujikadra@gmail.com', N'999590940', N'67, Shyamvilla raw house, Kamrej', N'Surat', N'Gujarat', N'395006', CAST(0x0000AB5B00B56349 AS DateTime))
INSERT [dbo].[User_Address_Master] ([User_Address_ID], [User_ID], [BName], [BEmail], [BMobile], [BAddress], [BCity], [BState], [BZipcode], [SName], [SEmail], [SMobile], [SAddress], [SCity], [SState], [SZipcode], [CreatedDate]) VALUES (2, 2, N'Rajesh Jikadra', N'rajujikadra@gmail.com', N'9998590940', N'67, Shyamvilla Raw House, Kenal Road, Kamrej.', N'Surat', N'Gujarat', N'395006', N'Rajesh Jikadra', N'rajujikadra@gmail.com', N'9998590940', N'67, Shyamvilla Raw House, Kenal Road, Kamrej.', N'Surat', N'Gujarat', N'395006', CAST(0x0000AB5B012AB13C AS DateTime))
INSERT [dbo].[User_Address_Master] ([User_Address_ID], [User_ID], [BName], [BEmail], [BMobile], [BAddress], [BCity], [BState], [BZipcode], [SName], [SEmail], [SMobile], [SAddress], [SCity], [SState], [SZipcode], [CreatedDate]) VALUES (3, 2, N'Nishant P.', N'nishant.pawdstore@gmail.com', N'8855665566', N'67, Shyamvilla Raw House near Iscon bungalows
Kamrej, Surat.', N'Surat', N'Gujarat', N'394180', N'Nishant P.', N'nishant.pawdstore@gmail.com', N'8855665566', N'67, Shyamvilla Raw House near Iscon bungalows
Kamrej, Surat.', N'Surat', N'Gujarat', N'394180', CAST(0x0000AB5C00E87A46 AS DateTime))
SET IDENTITY_INSERT [dbo].[User_Address_Master] OFF
ALTER TABLE [dbo].[AdminLoginMaster] ADD  CONSTRAINT [DF_AdminLoginMaster_IsAdmin]  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[Category_Master] ADD  CONSTRAINT [DF_Category_Master_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[MainMenu_Master] ADD  CONSTRAINT [DF_MainMenu_Master_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Product_Master] ADD  CONSTRAINT [DF_Product_Master_IsHotProduct]  DEFAULT ((0)) FOR [IsHotProduct]
GO
ALTER TABLE [dbo].[SubCategory_Master] ADD  CONSTRAINT [DF_SubCategory_Master_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SubCategory_Master] ADD  CONSTRAINT [DF_SubCategory_Master_IsHomePage]  DEFAULT ((0)) FOR [IsHomePage]
GO
ALTER TABLE [dbo].[Subscribe_Master] ADD  CONSTRAINT [DF_Subscribe_Master_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Cart_Master]  WITH CHECK ADD  CONSTRAINT [FK_ProductKey] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product_Master] ([Product_ID])
GO
ALTER TABLE [dbo].[Cart_Master] CHECK CONSTRAINT [FK_ProductKey]
GO
ALTER TABLE [dbo].[Cart_Master]  WITH CHECK ADD  CONSTRAINT [FK_UserKey] FOREIGN KEY([User_ID])
REFERENCES [dbo].[AdminLoginMaster] ([User_ID])
GO
ALTER TABLE [dbo].[Cart_Master] CHECK CONSTRAINT [FK_UserKey]
GO
ALTER TABLE [dbo].[Category_Master]  WITH CHECK ADD  CONSTRAINT [FK_Menu_ID] FOREIGN KEY([Menu_ID])
REFERENCES [dbo].[MainMenu_Master] ([Menu_ID])
GO
ALTER TABLE [dbo].[Category_Master] CHECK CONSTRAINT [FK_Menu_ID]
GO
ALTER TABLE [dbo].[Order_Item_Master]  WITH CHECK ADD  CONSTRAINT [FK_OrderRef] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order_Master] ([Order_ID])
GO
ALTER TABLE [dbo].[Order_Item_Master] CHECK CONSTRAINT [FK_OrderRef]
GO
ALTER TABLE [dbo].[Order_Item_Master]  WITH CHECK ADD  CONSTRAINT [FK_ProductRefe] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product_Master] ([Product_ID])
GO
ALTER TABLE [dbo].[Order_Item_Master] CHECK CONSTRAINT [FK_ProductRefe]
GO
ALTER TABLE [dbo].[Order_Master]  WITH CHECK ADD  CONSTRAINT [FK_UserAddress] FOREIGN KEY([User_Address_ID])
REFERENCES [dbo].[User_Address_Master] ([User_Address_ID])
GO
ALTER TABLE [dbo].[Order_Master] CHECK CONSTRAINT [FK_UserAddress]
GO
ALTER TABLE [dbo].[Order_Master]  WITH CHECK ADD  CONSTRAINT [FK_UserRef] FOREIGN KEY([User_ID])
REFERENCES [dbo].[AdminLoginMaster] ([User_ID])
GO
ALTER TABLE [dbo].[Order_Master] CHECK CONSTRAINT [FK_UserRef]
GO
ALTER TABLE [dbo].[Product_CK_Master]  WITH CHECK ADD  CONSTRAINT [FK_Product_CK_Editor] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product_Master] ([Product_ID])
GO
ALTER TABLE [dbo].[Product_CK_Master] CHECK CONSTRAINT [FK_Product_CK_Editor]
GO
ALTER TABLE [dbo].[Product_Image_Master]  WITH CHECK ADD  CONSTRAINT [FK_Product_Image] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product_Master] ([Product_ID])
GO
ALTER TABLE [dbo].[Product_Image_Master] CHECK CONSTRAINT [FK_Product_Image]
GO
ALTER TABLE [dbo].[Product_Master]  WITH CHECK ADD  CONSTRAINT [FK_Cat_ID] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Category_Master] ([Category_ID])
GO
ALTER TABLE [dbo].[Product_Master] CHECK CONSTRAINT [FK_Cat_ID]
GO
ALTER TABLE [dbo].[Product_Master]  WITH CHECK ADD  CONSTRAINT [FK_Sub_Cat_ID] FOREIGN KEY([SubCategory_ID])
REFERENCES [dbo].[SubCategory_Master] ([SubCategory_ID])
GO
ALTER TABLE [dbo].[Product_Master] CHECK CONSTRAINT [FK_Sub_Cat_ID]
GO
ALTER TABLE [dbo].[Product_Master]  WITH CHECK ADD  CONSTRAINT [FK_Third_Cat_ID] FOREIGN KEY([ThirdCategory_ID])
REFERENCES [dbo].[ThirdCategory_Master] ([ThirdCategory_ID])
GO
ALTER TABLE [dbo].[Product_Master] CHECK CONSTRAINT [FK_Third_Cat_ID]
GO
ALTER TABLE [dbo].[Product_Specification_Master]  WITH CHECK ADD  CONSTRAINT [FK_ProductID] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product_Master] ([Product_ID])
GO
ALTER TABLE [dbo].[Product_Specification_Master] CHECK CONSTRAINT [FK_ProductID]
GO
ALTER TABLE [dbo].[Product_Specification_Master]  WITH CHECK ADD  CONSTRAINT [FK_specification_groupID] FOREIGN KEY([Specification_GroupID])
REFERENCES [dbo].[Specification_Group_Master] ([Specification_GroupID])
GO
ALTER TABLE [dbo].[Product_Specification_Master] CHECK CONSTRAINT [FK_specification_groupID]
GO
ALTER TABLE [dbo].[Specification_Group_Master]  WITH CHECK ADD  CONSTRAINT [FK_product_id] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product_Master] ([Product_ID])
GO
ALTER TABLE [dbo].[Specification_Group_Master] CHECK CONSTRAINT [FK_product_id]
GO
ALTER TABLE [dbo].[SubCategory_Master]  WITH CHECK ADD  CONSTRAINT [FK_Category_ID] FOREIGN KEY([Category_ID])
REFERENCES [dbo].[Category_Master] ([Category_ID])
GO
ALTER TABLE [dbo].[SubCategory_Master] CHECK CONSTRAINT [FK_Category_ID]
GO
ALTER TABLE [dbo].[Subscribe_Master]  WITH CHECK ADD  CONSTRAINT [FK_Email_Group] FOREIGN KEY([Email_Group_ID])
REFERENCES [dbo].[Email_Group_Master] ([Email_Group_ID])
GO
ALTER TABLE [dbo].[Subscribe_Master] CHECK CONSTRAINT [FK_Email_Group]
GO
ALTER TABLE [dbo].[ThirdCategory_Master]  WITH CHECK ADD  CONSTRAINT [FK_SubCategory] FOREIGN KEY([SubCategory_ID])
REFERENCES [dbo].[SubCategory_Master] ([SubCategory_ID])
GO
ALTER TABLE [dbo].[ThirdCategory_Master] CHECK CONSTRAINT [FK_SubCategory]
GO
ALTER TABLE [dbo].[User_Address_Master]  WITH CHECK ADD  CONSTRAINT [FK_UserIdRefence] FOREIGN KEY([User_ID])
REFERENCES [dbo].[AdminLoginMaster] ([User_ID])
GO
ALTER TABLE [dbo].[User_Address_Master] CHECK CONSTRAINT [FK_UserIdRefence]
GO
ALTER TABLE [dbo].[UserDetails_Master]  WITH CHECK ADD  CONSTRAINT [FK_User] FOREIGN KEY([User_Id])
REFERENCES [dbo].[AdminLoginMaster] ([User_ID])
GO
ALTER TABLE [dbo].[UserDetails_Master] CHECK CONSTRAINT [FK_User]
GO
